* {
  padding: 0;
  margin: 0;
  box-sizing: bordere-box;
}

body {
  background: #acacac;
  height: 100vh;
  width: 100%;
}

.container {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, -6rem, 0);
  transition: all .4s;
  color: black;
  /* the default behavior is grid */
  place-content: center;
  width: 100%;
  height: 0;
}

.loader__container {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  background: black;
  position: relative;
  opacity: 1;
}

.loader__container div {
  border: 5px solid #acacac;
  border-right-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
