/* globall ruless*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #151618;
  --second-color: #eaf6f8;
}

html {
  font-family: system-ui;
  letter-spacing: 1.2px;
  line-height: 1.6;
}

/* globall ruless*/
/* ====================================== */
body {
  background-color: var(--main-color);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: grid;
  place-content: center;
  place-items: center;
}

body .container {
  --border-radius--global: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--second-color);
  border-radius: var(--border-radius--global);
  height: 80vh;
  width: 80vw;
}

.container .form__container {
  padding-block: 5rem;
  padding-inline: 2rem;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  height: 100% !important;
  width: 100% !important;
  border-radius: var(--border-radius--global);
}

div {
  text-align: center;
}

.form__container div h5 {
  font-weight: 100;
  opacity: 0.7;
}

.form__inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.form__inputs input {
  outline: none;
  border: none;
  color: black;
  border-bottom: 1px solid var(--main-color);
  padding: 10px 20px;
  font-size: 17px;
}

input::placeholder {
  font-size: 16px;
}

.form__inputs a {
  color: #0000d2a3;
  font-size: 15px;
  margin-block: 20px;
}

.form__inputs button {
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  outline: none;
  border: none;
  transition: all 0.3s;
  cursor: pointer;
  width: 80%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  height: 39px;
}

button .loading {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

button .loading div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  animation: 1s infinite linear animate;
}

button .loading div:nth-child(1) {
  animation-delay: -0.32s;
}

button .loadign div:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes animate {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

/* button .massage { */
/*   display: none; */
/* } */

button:hover {
  background: black;
}

.container p {
  font-size: 15px;
  opacity: 0.8;
}

p a {
  color: #0000d2a3;
  font-size: 15px;
  margin-block: 20px;
}
.image__loader {
  width: 100%;
}
.image__loader img{
  width: 100%;
}
